@import "../../../../css/constants.scss";
$labelWidth: 180px;

.crypto {
  position:relative;
  width: 100%;
  [class*="render_field"] {
    justify-content: flex-start !important;

    > span {
      width: $labelWidth;color: #fff;
    }

    div {
      margin-left: 0; min-width: 540px;
    }
  }

   form >[class*="action"] {
    justify-content: flex-start;
    position: relative;
    margin-top:70px;
  }

  form >[class*="action"]:before {
    content: " ";
    width: calc(100% + 60px);
    height: 1px;
    border-bottom: 1px solid $normalColor4;
    position: absolute;
    top: 0px;
    left:-30px;
  }

  [disabled] {
    cursor: not-allowed;
  }

  &_amount_action {
    color: $primaryColor;
    margin-left: 20px;
    font-size: 14px;
  }


  &_amount_lable >span{
     font-size: 14px;
     color: #FFFFFF;
     line-height: 24px;
    }
  &_amount_item {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 20px;
     border-bottom: 1px solid #374A72;

    [class*="render_field"] {
      margin-bottom: 0;

      > span {
        width: $labelWidth;
      }
    }

    [class*="input_field"] {
      width: 100%!important;
      >input{
         background: transparent!important;
         border: 0 none!important;
         padding: 0!important;
         color: #fff;
         font-size: 24px;text-indent: 10px;
       }
      }
    }

  &_transition {
    font-size: 14px;
    margin-left: $labelWidth;
    margin-bottom: 30px;
    color: #606060;
  }

  &_form_item {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
     font-size: 14px;color: #8F9FC5;

    > span {
      width: 100px;
    }
    [class*="render_field"] {
      width: 100%!important;margin-bottom: 0;
    }
    [class*="input_field"] {
      width: 100%!important;
    }
    [class*="select__"] {width: 100%!important;border-bottom: 1px solid #374A72;}
    [class*="select_value"] {
      background: transparent!important;
      line-height: 1.5;
      border-radius: 4px;
      color: #fff!important;
      padding: 0!important;
    > span {
        display: flex;
        /*flex-direction: column;*/
        border: 0 none;
      }
    }

    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      /*flex-direction: column;*/
      width: 100%;overflow-y: hidden;
      line-height: 1.5;
      cursor: pointer;
      text-align: left;
      > span {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 20px;
        >span{color: #8F9FC5;font-size: 13px;}
      }
    }

    li:hover {
      > span {
        color: $primaryColor;
        >span{color: #8F9FC5;}
      }
    }
  }
  .crypto_notice_tips{
    position:relative;
    font-size: 14px;
    margin-top: -25px;
    display: flex;
    align-items: center;
    &_help{
      width:16px;
      height:16px;
      text-align:center;
      line-height: 16px;
      display: inline-block;
      border-radius:50%;
      color:#a9a9a9;
      border:solid 1px #a9a9a9;
      cursor:pointer;
      margin-left: 5px;
    }
  }
  .tip_row{
    width: 250px;
    display: flex;
    align-items: center;
    flex: 1;
    border: 1px solid #eee;
    border-top:none;
    >label{
      width: 50%;
      text-align: center;
      display: inline-block;
    }
    & >label:first-child{
      border-right: 1px solid #eee;;
    }
    &.first{
      border-top: 1px solid #eee;
    }
  }
}

.crypto_withdraw_warning {
  margin: 30px 0 50px;
  font-size: 12px;
  color: #7180A0;
  line-height: 22px;
  font-family: "PingFang SC", “Segoe UI”, SegoeUI, “Microsoft YaHei”, 微软雅黑,
    “Hiragino Sans GB”, “Heiti SC”, "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  white-space: pre-wrap;
}



