.tab {
  padding: 10px 0;
  color: black;
  ul {
    padding: 0 30px 30px;
  }
  li {
    display: inline-block;
    a {
      display: block;
    }
  }
  &_ul {
    border-top: 2px solid #e7e7e7;
    li {
      border-top: 2px solid #e7e7e7;
      margin: -2px 40px 0 0;
      color: #868686;
      font-size: 14px;
      transition: 0.3s;
      a {
        padding-top: 10px;
      }
    }
    .active {
      border-top: 2px solid #2c90d5;
      color: #4a90e2;
    }
  }
  &_root {
    li:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    li:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    li {
      min-width: 100px;
      text-align: center;
      /* border-radius: 3px; */
      font-size: 15px;
      background-color: #e8e8e8;
      a {
        padding: 8px 10px;
      }
    }
    .active {
      background-color: #4a90e2;
      color: white;
      position: relative;
      &::after {
        width: 0;
        height: 0;
        content: "";
        position: absolute;
        bottom: -5px;
        right: calc(50% - 3px);
        border-style: solid;
        border-width: 5px 5px 0;
        border-color: #4a90e2 transparent transparent transparent;
      }
    }
  }
}
